* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Signika Negative', sans-serif;
}

.header-part {
    text-align: center;
    color: blanchedalmond;
    text-justify: auto;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.pragraph-1st {
    font-size: 23px;
}

.header-part-child-1 {
    padding-top: 200px;
}

.header-part h1 {
    font-size: 70px;
}

.button-header {
    font-size: 25px;
    text-decoration: none;
    background-color: coral;
    border: solid coral;
    padding: 10px 40px;
    border-radius: 7px;
    color: white;
    font-weight: 700;
    margin-top: 100px;
}

/* end header part */

.tk-donate-part {
    text-align: center;
    color: black;
    text-justify: auto;
    height: 100vh;
    margin-top: 100px;
}

.tk-donate-part h1 {
    font-size: 70px;
}