* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Signika Negative', sans-serif;
}

.header-part {
    text-align: center;
    color: blanchedalmond;
    text-justify: auto;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.pragraph-1st {
    font-size: 23px;
}

.header-part-child-1 {
    padding-top: 135px;
}

.header-part h1 {
    font-size: 50px;
}

.button-header {
    font-size: 25px;
    text-decoration: none;
    background-color: coral;
    border: solid coral;
    padding: 10px 40px;
    border-radius: 7px;
    color: white;
    font-weight: 700;
    margin-top: 100px;
}

/* end header part */



.tk-donate-part {
    text-align: center;
    color: black;
    text-justify: auto;
    height: 100vh;
    margin-top: 100px;
}

.tk-donate-part h1 {
    font-size: 50px;
}

.tk-donate-part p {
    font-size: 23px;
}

.amount {
    display: inline-flex;
    font-size: 30px;
    font-weight: 900;
    width: 0 auto;
    height: 50%;
    background-color: beige;
    padding: 30px 25px;
    border: solid beige 2px;
    border-radius: 5px;
    margin-right: 10px;

}

#amount-2 {
    background-color: rgb(247, 163, 132);
    border: solid red 2px;
    border-radius: 5px;
}

.input {
    color: rgba(0, 0, 0, 0.144);
    margin: 0 auto
}

.button-tk-donate-part {
    font-size: 25px;
    text-decoration: none;
    background-color: coral;
    border: solid coral;
    padding: 10px 40px;
    border-radius: 7px;
    color: white;
    font-weight: 700;
    margin-top: 100px;
}

/* tk-donate-part end */

.plan-one h1 {
    font-size: 50px;
}

.plan-one p {
    font-size: 23px;
}

.plan-one {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.donate-plan {
    display: inline-flex;
    margin-left: 10%;
    width: 80%;

}

.plan {

    text-align: center;
    background-color: aquamarine;

}

#plan-1 {
    padding: 60px;
    margin: 20px;
    height: 270px;
    width: 450px;
    background-color: beige;
}

#plan-2 {
    padding: 60px;
    margin: 20px;
    height: 270px;
    width: 450px;
    background-color: aquamarine;
}

#plan-3 {
    padding: 60px;
    margin: 20px;
    height: 270px;
    width: 450px;
    background-color: burlywood;
}

.donate-plan img {
    width: 60px;
    height: 60px;

}

/* end of part one */


.lives-donation {
    margin-top: 150px;
    display: inline-flex;
    width: 80%;
    margin-left: 10%;
}

.writting {
    margin-right: 30px;
    height: 350px;
    width: 550px;
}

.writting h1 {
    font-size: 50px;
}

.writting p {
    font-size: 23;
}

.img-part img {
    height: 380px;
    width: 450px;
    border-radius: 5px;
}

.writting-1 {
    margin-left: 30px;
    height: 350px;
    width: 550px;
}

/* end of lives donation */


.update {
    margin: 0 auto;
    width: 80%;

}

.get-up {
    margin-left: 10%;
    text-align: center;
    margin-top: 120px;
}

.get-up h1 {
    font-size: 60px;
}

get-up p {
    font-size: 23px;
}

.email-sub {
    margin-left: 10%;
    text-align: center;
    margin-top: 30px;
    background-color: antiquewhite;
    height: 130px;
    padding-top: 100px;
    border-radius: 5px;
}

.email-sub input {
    width: 300px;
    height: 40px;
    border-radius: 7px;
    background-color: rgb(229, 243, 196);
    margin-top: 10px;

}

/* .email-sub button {
    width: 120px;
    height: 40px;
    border-radius: 7px;
    background-color: tomato;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-left: 0;
} */
.btn {
    font-size: 16px;
    text-decoration: none;
    background-color: coral;
    border: solid coral;
    padding: 10px 40px;
    border-radius: 7px;
    color: white;
    font-weight: 700;
    margin-top: 100px;
}